
*{
    box-sizing: boder-box;
    margin: 0;
    padding: 0;
}
.about-me h1{
    text-align: center;
}
.contact h1{
    text-align: center;
}
.hobbies h1{
    text-align: center;
}

.image{
    text-align: center;
    line-height:100px;
    margin-top: 20px;
}
.image img{
    width:180px;
    height:200px;
 
}
.container{
    max-width: 70em;
    margin: auto;
    padding: 10px;
    display: flex;
    height: 56em
}
.sidebar{
    background-color: #613a12;
    width: 27%;
    
}


.square{
    background: #ca9e77;
    height:8px;
    width:288px;
    position: relative;
    clip-path: polygon(0 0, 98% 2%, 100% 100%, 0% 100%);
    z-index: 1;

    
}
/* .square::before{
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 0;
    height: 0;
    background: red;

    z-index: 1;
    
    
} */


#pointer {
    width: 282px;
    height: 40px;
    position: relative;
    background: #a97d50;
    
    
    
    
    
  }

  #pointer:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #a97d50;
    border-top: 28px solid transparent  ;
    border-bottom: 20px solid transparent;
  }
    
